
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/
*.egg-info/
*.egg
*.swp
*.swo

venv/
env/
ENV/
.venv/
.env/


.DS_Store
Thumbs.db
desktop.ini


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


landing/*.csv
landing/*.json
standard/*.parquet
staging/
docs/quality_metrics.json
docs/schema.md

*.log


.env
